@import '../../../assets/styles/variables.scss';

.tituloTextoContainer {
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    h2 {
        font-family: $font-grafite;
        text-align: center;
        font-size: 6rem;
        font-weight: 600;
    }

    p {
        font-family: $font-grafite-secondary;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }
}

@media (max-width: 1600px) {
    .tituloTextoContainer {
        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .tituloTextoContainer {
        display: flex;
        flex-direction: column;
        
        gap: 1.5rem;
        h2 {
            font-size: 3rem;
            text-align: center;
        }

        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .tituloTextoContainer {
        h2 {
            font-size: 2.1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 510px) {
    .tituloTextoContainer {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.8rem;
        }
    }
}