@import '../../../assets/styles/variables.scss';

.tituloTextoContainer {
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    h2 {
        font-family: $font-grafite;
        text-align: center;
        font-size: 6rem;
        font-weight: 600;
    }

    p {
        font-family: $font-grafite-secondary;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }
}