@import '../../../assets/styles/variables.scss';

.tituloTextoContainer {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    h2 {
        margin: 1rem 15rem 1rem 15rem;
        font-family: $font-grafite;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        div {
            font-size: 6.5rem;
        }
    }
}

@media (max-width: 1600px) {
    .tituloTextoContainer {
        h2 {
            font-size: 3rem;
            div{
                font-size: 4rem;
            }
        }

        
    }
}

@media (max-width: 1024px) {
    .tituloTextoContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h2 {
            font-size: 2rem;
            text-align: center;
            div {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .tituloTextoContainer {
        h2 {
            font-size: 2.1rem;
        }

    }
}

@media (max-width: 510px) {
    .tituloTextoContainer {
        h2 {
            font-size: 1.5rem;
        }


    }
}