@import '../../../assets/styles/variables.scss';

.imagemTextoContainer {
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;

    img {
        justify-self: center;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
       
    }

    div {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        p {
            font-family: $font-grafite-secondary;
            font-size: 2rem;
            font-weight: 400;
            text-align: left;
        }
        img {
            position: absolute;
            height: 60%;
            bottom: 14%;
            right: 10%;
            justify-self: end;
            align-self: end;
        }

        div {
            height: 100%;
            right: 50%;
            bottom: -2%;
            position: absolute;
            img {
                height: 43%;

                
                align-self: start;
            }
        }
        
    }

}


@media (max-width: 1600px) {
    .imagemTextoContainer {
        img {
            height: 80%;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .imagemTextoContainer {
        display: flex;
        flex-direction: column;
        img {
            height: 60%;
        }

        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .imagemTextoContainer {
        img {
            height: 55%;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 510px) {
    .imagemTextoContainer {
        img {
            height: 20rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}