@import '../../assets/styles/variables.scss';

.imagemTextoContainer {
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 1rem;

    img {
        justify-self: center;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    p {
        font: $font-secondary;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }
}