@import '../../assets/styles/variables.scss';

.contatoContainer {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    font-family: $font-grafite-secondary;
    
    form {
        border: 1px solid $black;
        border-radius: 1rem;
        -webkit-box-shadow: inset 4px -1px 23px -1px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: inset 4px -1px 23px -1px rgba(0, 0, 0, 0.56);
        box-shadow: inset 4px -1px 23px -1px rgba(0, 0, 0, 0.56);
        padding: 2rem 0 2rem 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            margin: 1rem 0 1rem 0;
            width: 100%;
            text-align: center;
        }

    }
}

@media screen and (max-width: 1212px ){
    .contatoContainer {
        form {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1354px ){
    .contatoContainer {
        form {
            label {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 768px ){
    .contatoContainer {
        form {
            label {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            
        }
    }
}