@import '../../assets/styles/variables.scss';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: $black;

    &:hover {
        background-color: $dark-gray;
        transition: background-color 0.5s ease;
    }

    img {
        height: 5rem;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        
        a {
            color: $white;
        }
    }

    &__menuIcones__item > a {
        font-size: 2rem;
    }
  



   


}

