@import '../../assets/styles/variables.scss';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 100%;
    background-color: $black;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: $dark-gray;
    }

    img {
        height: 5rem;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        
        a {
            color: $white;
        }
    }

    &__menuIcones__item > a {
        font-size: 2rem;
    }

   
}

.header.transparente {
    opacity: 40%;
    height: 4rem;
}

@media (max-width: 1024px) {
   .header__menu{
        font-size: 0;
   }

}

@media (max-width: 510px) {
    .header__menuIcones__item {
        a {
            height: 20px;
        }
    }
   
 
 }

.iconContainer {
    color: white;
    
}