@import '../../assets/styles/variables.scss';

.footer {
    background-color: $black;
    color: $white;
    bottom: 0;
    height: 6rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.8rem;
    }

}